In [24]:
import pandas as pd
customer_master = pd.read_csv('1/customer_master.csv')
item_master = pd.read_csv('1/item_master.csv')
transaction_1 = pd.read_csv('1/transaction_1.csv')
transaction_2 = pd.read_csv('1/transaction_2.csv')
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction_detail_1 = pd.read_csv('1/transaction_detail_1.csv')
transaction_detail_2 = pd.read_csv('1/transaction_detail_2.csv')
transaction_details = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)

join_data = pd.merge(transaction_details, transaction[['transaction_id', 'payment_date', 'customer_id']], on='transaction_id', how='left')
join_data = pd.merge(join_data, customer_master, on='customer_id', how='left')
join_data = pd.merge(join_data, item_master, on='item_id', how='left')

join_data['price'] = join_data['item_price'] * join_data['quantity']
join_data[['price', 'item_price', 'quantity']].head()

    price  item_price  quantity
0  210000      210000         1
1   50000       50000         1
2  120000      120000         1
3  210000      210000         1
4  170000       85000         2